.bgBlur {
    flex-basis: 50%;
    width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}


section {
    scroll-snap-align: center;
}

section.hero-section {
    height: 100vh;
    width: inherit;

    header {
        height: 10%;
        position: relative;
        z-index: 99;
    }
}

.exploration-section {
    margin-top: 5rem;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 1rem 6rem;
}