.text-box {
    p {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.344);
        // font-family: "MarsProject", sans-serif;
    }

    .process-box {
        .process {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



        }
    }
}

h2.te {
    font-size: 1.5rem;
    font-family: "MarsProject", sans-serif;
}