.card_container {
    margin: 0 auto;
    gap: calc(7rem + 4vw);
    height: calc(100% - 63px);
    overflow: hidden;
    position: relative;
    width: fit-content;

    .card {
        justify-content: space-around;
        display: inline-flex;
        flex-direction: column;
        padding: 0 0.5rem;
        // width: 25%;
        width: clamp(23vw, 3.09rem + 3.29vw, 38vw);
        height: 90%;
        justify-content: center;
        overflow: hidden;
        scale: 0.8;
        transition: all 650ms ease-in-out;

        img {
            opacity: 0.5;
            filter: blur(1px);
            border-radius: 2px;
            height: 38%;
            object-fit: cover;
            transition: height .7s ease-in-out, opacity .6s ease-in-out, filter .5s ease-in-out;

        }


        .card_no {
            transition: all .4s ease-in-out;
            padding: 0.5rem;
            color: #ffffff77;
            font-size: 1.2rem;
            font-weight: bold;
            position: absolute;
            top: 4rem;

        }


    }

    .currentHovered {
        padding: 0;
        scale: 1;

        .card_no {
            color: #ffffffdc;
            top: 1rem;
            z-index: 1;
        }

        img {
            height: 100%;

            opacity: 1;
            filter: blur(0);
        }
    }
}