.left_blob {
    box-shadow: 0px 0 8rem 8rem #5c1b1b82;
}

.right_blob {
    bottom: 8rem;
    left: 90%;
    box-shadow: 0px 0 8rem 5rem #680f0fad;
}

#heroSection {
    .headTAG {
        font-size: 20rem;
        // font-size: 22.6rem;
        letter-spacing: 6rem;
        // position: absolute;
        // padding: 0 4rem;
        // padding-top: 4rem;
        // color: #ae0909;
        padding-top: 5rem;
        color: #711111;
        padding-left: 7rem;
    }

    // Other Decoration Div
    .other_decoration {
        display: flex;
        padding: 0 6rem;
        justify-content: space-between;
    }
}