.left_blob {
    box-shadow: 0px 0 8rem 8rem #5c1b1b82;
}

.right_blob {
    bottom: 8rem;
    left: 90%;
    box-shadow: 0px 0 8rem 5rem #680f0fad;
}

#heroSection {
    height: calc(100vh - 6rem);


    .middle_section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 68vh;

        .model-wrapper {
            width: 100%;
            height: 100%;
            top: 0;
            overflow: hidden;
        }

        #Canvas {
            position: absolute !important;

        }

        svg {
            animation: rotating 7s linear infinite;
            scale: .94;

            top: 50%;
            translate: 0 -50%;

            circle {

                stroke: #e8430266;
                stroke-width: 0.13;
            }
        }

        .headTAG {
            position: relative;
            z-index: -2;
            font-size: 20rem;
            font-family: 'NewMars', sans-serif;
            letter-spacing: 2rem;
            padding-top: 5rem;
            color: #711111;
            display: flex;
            gap: 18rem;
        }
    }

    // Other Decoration Div
    .Other_decoration {
        font-family: "MarsProject", sans-serif;
        display: flex;
        padding: 0 6rem;
        justify-content: space-between;
        font-size: 1.5rem;
        margin-top: 3rem;

        .right_tickets {
            display: flex;
            align-items: center;

            img {
                animation: slideOutIn 2s ease-in-out infinite;
                width: 6rem
            }




        }
    }
}


@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}